<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="${title} + ' | Espressionist'">Espressionist</title>
    <!-- Common styles -->
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/all.min.css">
    
    <!-- Common scripts -->
    <script src="/js/utils.js"></script>
    <script src="/js/api.js"></script>
    <script src="/js/components.js"></script>
</head>
</html>
