<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" class="nav">
    <div class="logo">
        <a href="/">
            <span class="brand-name">espressionist</span>
        </a>
    </div>
    <ul>
        <li class="nav-item" th:classappend="${#strings.equals(currentUri, '/') ? 'active' : ''}"><a href="/">Home</a></li>
        <li><a href="/products" th:classappend="${#strings.equals(currentUri, '/products') ? 'active' : ''}">Shop</a></li>
        <li><a href="/cart" th:classappend="${#strings.equals(currentUri, '/cart') ? 'active' : ''}">Cart</a></li>
        <li><a href="/track" th:classappend="${#strings.equals(currentUri, '/track') ? 'active' : ''}">Track Order</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/admin/login" th:classappend="${#strings.startsWith(currentUri, '/admin') ? 'active' : ''}">Admin</a></li>
    </ul>
</nav>
</html>